<div class="w-full h-[calc(100vh-4.5rem)] wrapper">
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-[225px_minmax(100px,_1fr)] xl:grid-cols-[300px_minmax(100px,_1fr)]  h-[calc(100vh-4.1rem)] wrapper px-4">
      <div class="border-r pt-4">
        <%= render 'settings/components/settings_sidebar' %>
      </div>

      <div>
        <div class="flex gap-10 items-center py-4 pl-6">
          <%= link_to account_information_settings_path do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
            </svg>
          <% end %>
          <h2 class="font-bold text-2xl">Change your name and avatar</h2>
        </div>

        <div class="px-6 p-2">
          <%= form_with model: current_account.profile, url: update_profile_settings_path, method: :patch, data: { turbo_frame: "_top", controller: "profile-edit-form" }, class: "w-full" do |form| %>
            <%= render "settings/components/form",  form: form do |f| %>
              <div class="mb-6">
                <%= f.label :select_avatar, class: "block text-sm font-semibold" %>
                <%= f.file_field :avatar, class: "block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 hidden", data: { "profile-edit-form-target": "avatarFile", action: "change->profile-edit-form#avatarChanged" } %>

                <div class="mt-2">
                  <%= render 'settings/components/form_avatar_preview' %>
                </div>
              </div>

              <div class="mb-6">
                <%= f.label :name, class: "block text-sm font-semibold" %>
                <%= f.text_field :name, required: true, value: current_account.profile.name, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth.field_error('name') ? 'border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400' : 'border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400'}" %>
                <%= content_tag(:span, rodauth.field_error("name"), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "name_error_message") if rodauth.field_error("name") %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>