<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 text-gray-900">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text">
        <%= link_to customer.name, business_customer_path(@business, customer), data: { turbo_frame: "_top" } %>
    </th>
    <td class="px-6 py-4">
        <%= tooltip_link(customer.email, business_customer_path(@business, customer), "tooltip-customer-email-#{customer.id}", customer.email) %>
        <%= tooltip_content("tooltip-customer-email-#{customer.id}", customer.email) %>
    </td>
    <td class="px-6 py-4">
        <%= link_to customer.phone_number, business_customer_path(@business, customer), data: { turbo_frame: "_top" } %>
    </td>
    <td class="px-6 py-4">
        <% if customer.address.present? %>
            <%= tooltip_link(customer.address, business_customer_path(@business, customer), "tooltip-customer-address-#{customer.id}", customer.address) %>
            <%= tooltip_content("tooltip-customer-address-#{customer.id}", customer.address) %>
        <% else %>
            Nil
        <% end %>
    </td>
    <td class="px-6 py-4">
        <% if customer.country.present? %>
            <%= link_to customer.country, business_customer_path(@business, customer), data: { turbo_frame: "_top" } %>
        <% else %>
            Nil
        <% end %>
    </td>
    <td class="px-6 py-4">
        <%= link_to business_customer_path(@business, customer), data: { turbo_frame: "_top" } do %>
            <%= @business.currency_symbol %> <%= number_to_currency(10000, unit: '') %>
        <% end %>
    </td>
</tr>