<div class="px-6 py-5">
    <%= form_with(model: [business, customer], data: { turbo: false }, class: "w-full") do |form| %>
        <div class="mb-6">
            <%= render 'layouts/errors', form: form %>
        </div>
        <div class="mb-6">
            <%= form.label :name, class: "block text-sm font-semibold" %>
            <%= form.text_field :name, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800", required: true %>
        </div>

        <div class="mb-6">
            <%= form.label :email, class: "block text-sm font-semibold" %>
            <%= form.email_field :email, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800" %>
        </div>

        <div class="mb-6">
            <%= form.label :phone_number, class: "block text-sm font-semibold" %>
            <%= form.text_field :phone_number, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800", required: true %>
        </div>

        <div class="mb-6">
            <%= form.label :address, class: "block text-sm font-semibold" %>
            <%= form.text_field :address, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800", required: true %>
        </div>

        <div class="mb-6">
            <%= form.label :country, class: "block text-sm font-semibold" %>
            <%= form.select :country, customer.countries.invert, { include_blank: "Customer's country?" }, 
                { class: "mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 cursor-pointer" 
                } %>
        </div>

        <%= form.submit "Save", class: "w-full px-8 py-3 cursor-pointer font-semibold text-sm rounded-lg text-white bg-black/90 hover:bg-black/80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black/60 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:text-gray-900 dark:focus:ring-emerald-400 dark:focus:ring-offset-current" %>
    <% end %>
</div>