<nav class="transparent border-gray-200 dark:bg-gray-900 w-full border-b">
    <div class="flex items-center justify-between p-4">
        <!-- Logo -->
        <div class="flex items-center space-x-2 logo">
            <%= link_to root_path, class: "flex items-center space-x-1 rtl:space-x-reverse" do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6 border bg-black rounded-lg p-1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
                </svg>
                <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white logo-text">SabiManager</span>
            <% end %>
        </div>

        <!-- Nav List -->
        <div class="hidden md:flex flex-grow justify-start ml-10 nav-list">
            <ul class="flex space-x-8 font-medium">
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:text-black/50">Features</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:text-black/50">Blog</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:text-black/50">Docs</a>
                </li>
                <li>
                    <a href="#" class="text-gray-900 dark:text-white hover:text-black/50">Pricing</a>
                </li>
            </ul>
        </div>

        <!-- Avatar -->
        <div class="flex items-center space-x-3 avatar">
            <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                <% if current_account.profile.avatar.attached? %>
                    <%= image_tag(current_account.profile.avatar, class: "w-8 h-8 object-cover rounded-full", alt: "profile picture", data: { "profile-edit-form-target": "avatarPreview" }) %>
                <% else %>
                    <%= image_tag('others/default avatar.png', class: "w-8 h-8 object-cover rounded-full border-gray-800", alt: "profile picture", data: { "profile-edit-form-target": "avatarPreview" }) %>
                <% end %>
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600 border" id="user-dropdown">
                <div class="px-4 py-3">
                    <span class="block text-sm text-gray-900 dark:text-white"><%= current_account.profile.name %></span>
                    <span class="block text-sm text-gray-500 truncate dark:text-gray-400"><%= current_account.email %></span>
                </div>
                <ul class="py-2 text-black/90">
                    <li>
                        <%= link_to 'Settings & Privacy', settings_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
                    </li>
                    <li>
                        <%= link_to 'Feedbacks', settings_path, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
                    </li>
                    <li>
                        <%= link_to 'Sign out', rodauth.logout_path, data: { turbo_method: :post }, class: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white" %>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>