<div class="px-3">
  <%= form_with(model: [business, product], data: { turbo: true }, class: "w-full space-y-6") do |form| %>

    <!-- Render errors only if they exist -->
    <%= render 'layouts/errors', form: form %>

    <div>
      <%= form.label :name, class: "block text-sm font-semibold" %>
      <%= form.text_field :name, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400", required: true %>
    </div>

    <div>
      <%= form.label "Description (optional)", class: "block text-sm font-semibold" %>
      <%= form.text_area :description, class: "h-36 focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" %>
    </div>

    <div>
      <%= form.label :category, class: "block text-sm font-semibold" %>
      <div class="flex items-center gap-2">
        <%= form.select :product_category_id, ProductCategory.all.pluck(:name, :id), { include_blank: "Select category" }, class: "mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block w-full p-2.5 cursor-pointer", required: true, id: "product_category_select" %>
        
        <!-- New Category Button -->
        <%= link_to new_business_product_category_path(@business), class: "mt-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-gray-500 focus:border-gray-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-gray-500 dark:focus:border-gray-500 cursor-pointer", data: { turbo_frame: "modal", action: "modal#open" } do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
        <% end %>
      </div>
    </div>

    <div class="grid md:grid-cols-3 md:gap-6 space-y-6" data-controller="price-toggle" data-price-toggle-target="gridContainer">
      <div class="field items-center">
        <div class="flex items-center">
          <%= form.check_box :negotiable, 
                            class: "h-4 w-4 text-black focus:ring-black/80 border-gray-300 rounded dark:bg-gray-900 dark:border-gray-700 dark:focus:ring-black/80 cursor-pointer", 
                            data: { action: "change->price-toggle#toggleFields" } %>
          <%= form.label :negotiable, "Negotiable?", class: "ml-2 block text-sm font-semibold cursor-pointer" %>
        </div>
      </div>

      <div class="field" data-price-toggle-target="fixedPrice">
        <%= form.label :fixed_price, class: "block text-sm font-semibold" %>
        <%= form.text_field :fixed_price, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" %>
      </div>

      <div class="field hidden" data-price-toggle-target="minPrice">
        <%= form.label :min_price, class: "block text-sm font-semibold" %>
        <%= form.text_field :min_price, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" %>
      </div>

      <div class="field hidden" data-price-toggle-target="maxPrice">
        <%= form.label :max_price, class: "block text-sm font-semibold" %>
        <%= form.text_field :max_price, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" %>
      </div>

      <div class="field" data-price-toggle-target="stockQuantity">
        <%= form.label :stock_quantity, class: "block text-sm font-semibold" %>
        <%= form.text_field :stock_quantity, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400" %>
      </div>
    </div>

    <div class="flex items-center justify-center w-full">
      <label class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-gray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500">
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
          </svg>
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop product image
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
        </div>
        <%= form.file_field "image", class: "hidden", id: "dropzone-file" %>
      </label>
    </div> 

    <div class="flex justify-end">
      <%= form.submit "Save", class: "w-full md:w-auto px-8 py-3 cursor-pointer font-semibold text-sm rounded-lg text-white bg-black/90 hover:bg-black/80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black/60 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:text-gray-900 dark:focus:ring-emerald-400 dark:focus:ring-offset-current" %>
    </div>

  <% end %>
</div>