<div class="w-full h-[calc(100vh-4.5rem)] wrapper">
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-screen-2xl grid grid-cols-1 md:grid-cols-[225px_minmax(100px,_1fr)] xl:grid-cols-[300px_minmax(100px,_1fr)]  h-[calc(100vh-4.1rem)] wrapper px-4">
      <div class="border-r pt-4">
        <%= render 'settings/components/settings_sidebar' %>
      </div>

      <div>
        <div class="flex gap-10 items-center py-4 pl-6">
            <%= link_to account_information_settings_path do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75 3 12m0 0 3.75-3.75M3 12h18" />
                </svg>
            <% end %>
            <h2 class="font-bold text-2xl">Change your email</h2>
        </div>

        <div class="px-6 p-2">
          <%= form_with url: rodauth.change_login_path, method: :post, data: { turbo: false }, class: "w-full" do |form| %>
            <div class="mb-6">
              <%= form.label "login", rodauth.login_label, class: "block text-sm font-semibold" %>
              <%= form.email_field rodauth.login_param, placeholder: "Enter new email", value: params[rodauth.login_param], id: "login", autocomplete: "email", required: true, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth.field_error('name') ? 'border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400' : 'border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400'}", aria: ({ invalid: true, describedby: "login_error_message" } if rodauth.field_error(rodauth.login_param)) %>
              <%= content_tag(:span, rodauth.field_error(rodauth.login_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "login_error_message") if rodauth.field_error(rodauth.login_param) %>
            </div>

            <% if rodauth.require_login_confirmation? %>
              <div class="mb-6">
                <%= form.label "login-confirm", rodauth.login_confirm_label, class: "block text-sm font-semibold" %>
                <%= form.email_field rodauth.login_confirm_param, value: params[rodauth.login_confirm_param], id: "login-confirm", autocomplete: "email", required: true, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth.field_error('name') ? 'border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400' : 'border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400'}", aria: ({ invalid: true, describedby: "login-confirm_error_message" } if rodauth.field_error(rodauth.login_confirm_param)) %>
                <%= content_tag(:span, rodauth.field_error(rodauth.login_confirm_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "login-confirm_error_message") if rodauth.field_error(rodauth.login_confirm_param) %>
              </div>
            <% end %>

            <% if rodauth.change_login_requires_password? %>
              <div class="mb-6">
                <%= form.label "password", rodauth.password_label, class: "block text-sm font-semibold" %>
                <%= form.password_field rodauth.password_param, value: "", id: "password", autocomplete: rodauth.password_field_autocomplete_value, placeholder: "Enter current password", required: true, class: "focus:ring-black/80 focus:border-black/80 mt-2 text-sm w-full px-3 py-2 border rounded-md dark:bg-gray-900 dark:text-gray-100 dark:focus:bg-gray-800 #{rodauth.field_error('name') ? 'border-red-600 focus:ring-red-600 focus:border-red-600 dark:border-red-400 dark:focus:ring-red-400' : 'border-gray-300 dark:border-gray-700 dark:focus:border-emerald-400 dark:focus:ring-emerald-400'}", aria: ({ invalid: true, describedby: "password_error_message" } if rodauth.field_error(rodauth.password_param)) %>
                <%= content_tag(:span, rodauth.field_error(rodauth.password_param), class: "block mt-1 text-red-600 text-xs dark:text-red-400", id: "password_error_message") if rodauth.field_error(rodauth.password_param) %>
              </div>
            <% end %>

            <%= form.submit rodauth.change_login_button, class: "block ml-auto px-8 py-3 cursor-pointer font-semibold text-sm rounded-lg text-white bg-black/90 hover:bg-black/80 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-black/60 dark:bg-emerald-400 dark:hover:bg-emerald-500 dark:text-gray-900 dark:focus:ring-emerald-400 dark:focus:ring-offset-current" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
